asgiref==3.7.2
cffi==1.15.1
cryptography==41.0.2
Django==4.2.3
django-appconf==1.0.5
django-cryptography==1.1
django-encrypted-fields==1.1.2
django-encrypted-model-fields==0.6.5
django-formtools==2.4.1
django-otp==1.2.2
django-phonenumber-field==6.4.0
django-two-factor-auth==1.15.3
phonenumbers==8.13.16
phonenumberslite==8.13.17
pip==23.2.1
psycopg2-binary==2.9.6
pyasn1==0.5.0
pycparser==2.21
pypng==0.20220715.0
python-keyczar==0.716
qrcode==7.4.2
setuptools==65.6.3
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
