
<div class="items">
  <div class="items-head">
    <p>Your Passwords<span style="margin-left:80px;"><button id="createButton" class="button-66" role="button"><i class="fas fa-plus"></i></button></span></p>
    <hr>
  </div>
  
  <div class="items-body">
    {% for p in passwords %}
    <div class="items-body-content">
      <span><a href="{% url 'password_info' p.id %}" style="text-decoration:none;color:#6527BE;">{{p.website}}</a>
        <a href="{% url 'delete_password' p.id %}">
          <button class="button-67"  style="border:transparent;background:transparent;" role="button"><i class="fas fa-trash-alt"></i></button>
        </a>
        </span>
      <i class="fa fa-angle-right"></i>
    </div>
    {% endfor %}
  </div>
</div>