<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/delete_page.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <form action="{% url 'delete_password' password.id %}" method="POST">
        {% csrf_token %}
 {{ form.as_p }}
    <div class="container">
      <div class="box">
        <h3>Delete password?</h3>
        <p>Are you sure you want to delete</p>

        <div class="warn_info">
          <h4><i class="fa fa-warning"></i> Warning</h4>
          <p>You can't undo this action.</p>
        </div>

        <div class="clearfix">
          <a class="btn1" id="cancel" href="{% url 'home' user.id %}">Cancel</a>
          <a class="btn2" id="cancel" href=""
            > <button type="submit">Delete</button><i class="fa fa-trash"></i
          ></a>
        </div>
      </div>
    </div>
</form>