{%extends 'main.html'%}
{%block stuff%}
<!DOCTYPE html>
{%load static%}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/card.css'%}">
  <link rel="stylesheet" href="{% static 'css/copy.css'%}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <title>Project 1: Card Layout with Flexbox and Media Queries</title>
</head>
  
<body>
  <section id="cards">
    <div class="cards-container">

      <div class="card" id="project-1">
        <h3>{{password.website}}</h3>
        <div class="label">Website</div>
        <div class="copy-text"><input type="text" id="input-website" class="text" value="{{password.website_user_name}}">
        <button onclick="copyText('input-website')"><i class="fa fa-clone"></i></button></div>
        <div class="label">Password</div>
        <div class="copy-text"><input type="password" id="input-password" class="text" value="{{password.password}}">
        <button onclick="copyText('input-password')"><i class="fa fa-clone"></i></button></div>
        <div class="label">Additional information</div>
        <div class="copy-text"><input type="text" id="input-additional" class="text" value="{{password.additional_info}}"></div>
        
      </div>
    </div>
  </section>
  <script>
        function copyText(input_text){
          var input = document.getElementById(input_text);
          input.select();
          document.execCommand("copy");
          alert("Text copied: " + input.value);
         }
        </script>
        
</script>
</body>

</html>
{%endblock%}